.item-page{
    margin: 5% 5% 15px;
    width: 90%;
    border-top: 2px solid rgb(20, 27, 121);
    border-bottom: 2px solid rgb(20, 27, 121);
    display: flex;
}

.item-info-container{
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    gap: 5%;
}

.item-page img{
    width: 400px;
}

.item-page p{
    color:crimson;
    font-weight: 500;
}

.item-page label{
    font-weight: 500;
}

.item-page hr{
    border-top: 2px solid black;
}

.item-page button{
    cursor: pointer;
    border: 2px solid black;
    transition: 0.2s;
}

.item-page button:hover{
    transform: translateY(7px);
}

.itempage-link-btns{
    margin-top: 10%;
}

.itempage-link-btns button{
    float:right;
    margin: 5px;
    padding: 3px;
    border-radius: 1px;
}

#go-back-btn{
    background-color: black;
    color:white;
}

@media only screen and (max-width: 800px) {
    .item-page {
        flex-direction: column;
    }
    .item-info-container{
        justify-content: center;
        gap: 10%;
    }
  } 