.home-container{
    position:relative;
}

.home-container h1{
    color:crimson;
    border: 1ps solid black;
    font-size: 166px;
    padding-left: 8%;

    /*solid*/
    text-shadow: 5px 5px rgb(31, 79, 170);
    
    /*színes*/
    /* margin: 10px;
    font-size: 160px;
    background-color: rgb(32, 79, 150);
    border-radius: 3px;

    text-shadow: 2px 2px 8px rgb(14, 38, 85);
    text-shadow: 2px 2px white; */
}

.home-container button{
    position:absolute;
    top: 47%;
    right: 20%;
    padding: 10px;
    font-size: 25px;
    transition: 0.2s;
    cursor: pointer;

    border: 2px solid crimson;
    border-radius: 3px;
}

.home-container button:hover{
    color:crimson;
    transform: translateX(7px);
}

.arrow{
    font-size: 24px;
    position: absolute;
    top: 12px;
}

/* @media only screen and (max-width: 1200px) {

  }  */